{% if (ctx.component.prefix || ctx.component.suffix) { %}
<div class="govuk-input__wrapper">
  {% } %}
{% if (ctx.component.prefix) { %}
<div ref="prefix" class="govuk-input__prefix" aria-hidden="true">
  {{ctx.component.prefix}}
</div>
{% } %}
<{{ctx.input.type}}
ref="{{ctx.input.ref ? ctx.input.ref : 'input'}}"
style="margin-bottom: 10px"
{% for (var attr in ctx.input.attr) { %}
{{attr}}="{{ctx.input.attr[attr]}}{% if (attr==='class') { if (ctx.input.type === 'textarea'){ %} govuk-textarea {% } else { %} govuk-input {%} } %}"
{% } %}
id="{{ctx.instance.id}}-{{ctx.component.key}}"
>{{ctx.input.content}}
</{{ctx.input.type}}>
{% if (ctx.component.showCharCount) { %}
<span class="govuk-hint govuk-character-count__message" style="float:left; margin-right: 5px" ref="charcount"></span>
{% } %}
{% if (ctx.component.showWordCount) { %}
<span class="govuk-hint govuk-character-count__message" style="float:left; margin-right: 5px" ref="wordcount"></span>
{% } %}
{% if (ctx.component.suffix) { %}
<div class="govuk-input__suffix" aria-hidden="true">
  {{ctx.component.suffix}}
</div>
{% } %}
{% if (ctx.component.prefix || ctx.component.suffix) { %}
</div>
{% } %}